{% extends "base.html" %}
<h1></h1>
{% block title %}Home - Dwiggy{% endblock %}
<h1></h1>
{% block content %} {% load static %}
<div class="container mx-auto my-5 px-10">
  <h1 class="text-center text-2xl font-bold mb-4">Your Cart</h1>
  <div class="flex flex-wrap -mx-4">
    <!-- Vendor Items -->
    <div class="w-full lg:w-2/3 px-4 mb-4">
      <div class="cart-container"></div>
    </div>
    <!-- Cart Summary -->
    <div class="w-full lg:w-1/3 px-4">
      <div class="border rounded shadow-sm p-4 bg-white">
        <!-- Summary dynamically filled by JS -->
      </div>
    </div>
  </div>
</div>
<script src="{% static 'scripts/utils.js' %}"></script>
<script>
  getCart();
</script>
{% endblock %}
